<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    Start page.
    Logged user: <span sec:authentication="name">Bob</span>
    Role user: <span sec:authentication=""></span>
    <div sec:authorize="hasAuthority('CLIENT')">
        Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </div>
    <div class="container" sec:authorize="isAuthenticated()">
        authorize - authenticated
    </div>
    <div class="container" sec:authorize="!isAuthenticated()">
        authorize - not authenticated
    </div>
</body>
</html>